@model ProjetoModeloDDD.MVC.ViewModels.TipoProfissionalViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivelAcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivelAcesso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoProfissionalID }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
