@model ProjetoModeloDDD.MVC.ViewModels.ConsultaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsultaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autorizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaAutorizar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaAutorizar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Convenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Convenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorCopart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCopart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorConvenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorConvenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSessao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSessao)
        </dd>

       
        

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
