@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.ConsultaViewModel>

@{
    ViewBag.Title = "Consultas";
}

<h2>Consultas</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Autorizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaAutorizar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Convenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorCopart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorConvenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSessao)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Autorizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaAutorizar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Convenio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorCopart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorConvenio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSessao)
        </td>
        
        <td>
            <button class="btn btn-success btn-xs" onclick="location.href='@Url.Action("Details", "Consultas", new { id = item.ConsultaId })'"><i class="fa fa-check"></i></button>
            <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Edit", "Consultas", new { id = item.ConsultaId })'"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "Consultas", new { id = item.ConsultaId })'"><i class="fa fa-trash-o "></i></button>
        </td>
    </tr>
}

</table>
