@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.LiberacaoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroLiberacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeRealizada)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroLiberacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeRealizada)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LiberacaoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LiberacaoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LiberacaoId })
        </td>
    </tr>
}

</table>
