@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.LiberacaoViewModel>

@{
    ViewBag.Title = "Liberações";
}

<h2>Liberações</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroLiberacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeRealizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NomePaciente)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroLiberacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeRealizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NomePaciente)
        </td>

        <td>
            <button class="btn btn-success btn-xs" onclick="location.href='@Url.Action("Details", "Liberacoes", new { id = item.LiberacaoId })'"><i class="fa fa-check"></i></button>
            <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Edit", "Liberacoes", new { id = item.LiberacaoId })'"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "Liberacoes", new { id = item.LiberacaoId })'"><i class="fa fa-trash-o "></i></button>
    </td>
    </tr>
}

</table>
