@using GridMvc.Html
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.PacienteViewModel>

@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>
<hr />
@using (Html.BeginForm("Index", "Pacientes", FormMethod.Get))
{
    <p>
        Localizar por:
        <div class="form-group">

            @Html.DropDownList("LocalizarPor", new SelectList(new List<SelectListItem>
                                {
                                    new SelectListItem { Selected = true, Text = "Número da carteira", Value = "1"},
                                    new SelectListItem { Selected = false, Text = "Nome Paciente", Value = "2"},
                                }, "Value", "text", @ViewBag.LocalizarPor)
                     , new { @class = "form-control", @style = "float:left", })

            @Html.TextBox("palavra", ViewBag.palavra as string, new { @class = "form-control", @type = "text", @placeholder = "Digite...", @style = "float:left" })
            &nbsp;
            <button type="submit" class="btn btn-theme">Pesquisar</button>
            &nbsp;
            @Html.ActionLink("Criar Novo", "Create", null, new { @class = "btn btn-theme", @style = "background-color:#174e9b" })

        </div>
    </p>
}

<div style="margin-right:50px">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(model => model.NomePaciente).Titled("Nome");
    columns.Add(model => model.TelefonePaciente1).Titled("Telefone 1");
    columns.Add(model => model.TelefonePaciente2).Titled("Telefone 2");
    columns.Add(model => model.CarteirinhaPaciente).Titled("Carteirinha");
    columns.Add(model => model.CopartPaciente).Titled("Cooparticipação?");
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => SalvarCustonHelper(o.PacienteId));
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => EditarCustonHelper(o.PacienteId));
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => DeletarCustonHelper(o.PacienteId));

}).WithPaging(5).Sortable(true)
</div>

@helper SalvarCustonHelper(int id)
{
    <button class="btn btn-success btn-xs" onclick="location.href='@Url.Action("Details", "Pacientes", new { id = id })'"><i class="fa fa-check"></i></button>
}

@helper EditarCustonHelper(int id)
{
    <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Edit", "Pacientes", new { id = id })'"><i class="fa fa-pencil"></i></button>
}

@helper DeletarCustonHelper(int id)
{
    <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "Pacientes", new { id = id })'"><i class="fa fa-trash-o "></i></button>
}


            @*<th>
                @Html.DisplayNameFor(model => model.NomePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonePaciente1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonePaciente2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarteirinhaPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopartPaciente)
            </th>
            <th></th>

                    <button class="btn btn-success btn-xs" onclick="location.href='@Url.Action("Details", "Pacientes", new { id = item.PacienteId })'"><i class="fa fa-check"></i></button>
                    <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Edit", "Pacientes", new { id = item.PacienteId })'"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Delete", "Pacientes", new { id = item.PacienteId })'"><i class="fa fa-trash-o "></i></button>*@

