@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.PacienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomePaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonePaciente1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonePaciente2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarteirinhaPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopartPaciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomePaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonePaciente1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonePaciente2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarteirinhaPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CopartPaciente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PacienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PacienteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PacienteId })
        </td>
    </tr>
}

</table>
